@import url(/reset.css);

body{
    font-family: consolas, monospace;
    color: #fff;
    background: url() center / cover no-repeat;
}
.wrapper {
    min-height: 100%;
    overflow: clip;
    position: relative;
}
.game {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: url('') 24 24 auto;
}
.game__body,
.game__items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
.game__body::before,
.game__body::after,
.game__items::before,
.game__items::after {
    content: "";
    pointer-events: all;
    width: 33.3333vw;
    height: 33.3333vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: inline-block;
    outline: 0.3125rem dashed;
}
.game__body::before{
    background-color: #dac924;
    color: #dac924;
}
.game__body::after{
    background-color: #009ef3;
    color: #009ef3;
}
.game__items::before{
    background-color: #7a956b;
    color: #dac924;
}
.game__items::after{
    background-color: #009ef3;
    color: #009ef3;
}
.game__items {
}
.game__result {
}
.game__counter {
}
.game__win {
}
